name: Deploy to Minikube

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted   # runs on your machine
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy Helm chart
        run: |
          helm upgrade --install nginx-release /deve/helm-charts/my-nginx --namespace default
